h1
{
    color:blue;
    background-color:white;
}
h2
{
    color:red;
    background-color:white;
}

.a
{
    color:pink;
}
#b
{
    color:plum;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, 'sans-serif ';
}